### label Encoding 
* sklearn.preprocessing.LabelEncoder

In [1]:
from sklearn import preprocessing

In [7]:
item=['TV', '냉장고','전자렌지','컴퓨터','선풍기','선풍기','믹서','믹서']
le = preprocessing.LabelEncoder()
le.fit(['TV', '냉장고','전자렌지','컴퓨터','선풍기','선풍기','믹서','믹서'])

results = le.transform(item)

In [8]:
results

array([0, 1, 4, 5, 3, 3, 2, 2])

In [9]:
le.inverse_transform([0,0,0,1,2])

array(['TV', 'TV', 'TV', '냉장고', '믹서'], dtype='<U4')

In [10]:
le.classes_

array(['TV', '냉장고', '믹서', '선풍기', '전자렌지', '컴퓨터'], dtype='<U4')

### sklearn.preprocessing.OneHotEncoder
* class sklearn.preprocessing.OneHotEncoder(*, categories='auto', drop=None, sparse='deprecated', sparse_output=True, dtype=<class 'numpy.float64'>, handle_unknown='error', min_frequency=None, max_categories=None, feature_name_combiner='concat')

In [20]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

In [31]:
encoder = OneHotEncoder()

items = np.array(item).reshape(-1,1)
encoder.fit(items)
data = encoder.transform(items).toarray()

In [32]:
import pandas as pd

In [33]:
df= pd.DataFrame({'item':['TV','냉장고','전자렌지', '컴퓨터', '선풍기','선풍기', '믹서', '믹서']})
pd.get_dummies(df)

   item_TV  item_냉장고  item_믹서  item_선풍기  item_전자렌지  item_컴퓨터
0     True     False    False     False      False     False
1    False      True    False     False      False     False
2    False     False    False     False       True     False
3    False     False    False     False      False      True
4    False     False    False      True      False     False
5    False     False    False      True      False     False
6    False     False     True     False      False     False
7    False     False     True     False      False     False

In [34]:
df= pd.DataFrame(data, columns=['item_TV',	'item_냉장고',	'item_믹서',	'item_선풍기',	'item_전자렌지',	'item_컴퓨터'], index=['TV', '냉장고','전자렌지','컴퓨터','선풍기','선풍기','믹서','믹서'])

In [35]:
df

      item_TV  item_냉장고  item_믹서  item_선풍기  item_전자렌지  item_컴퓨터
TV        1.0       0.0      0.0       0.0        0.0       0.0
냉장고       0.0       1.0      0.0       0.0        0.0       0.0
전자렌지      0.0       0.0      0.0       0.0        1.0       0.0
컴퓨터       0.0       0.0      0.0       0.0        0.0       1.0
선풍기       0.0       0.0      0.0       1.0        0.0       0.0
선풍기       0.0       0.0      0.0       1.0        0.0       0.0
믹서        0.0       0.0      1.0       0.0        0.0       0.0
믹서        0.0       0.0      1.0       0.0        0.0       0.0